[project]
	description = A repository containing work to Setup the whole development environment of Bonita using the Oomph installer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aurelien Pupier (apupier)
[access "refs/for/refs/*"]
	read = group user/Aurelien Pupier (apupier)
	push = group user/Aurelien Pupier (apupier)
	label-Code-Review = -2..+2 group user/Aurelien Pupier (apupier)
	label-Verified = -1..+1 group user/Aurelien Pupier (apupier)
	rebase = group user/Aurelien Pupier (apupier)
	removeReviewer = group user/Aurelien Pupier (apupier)
	submit = group user/Aurelien Pupier (apupier)
[access "refs/heads/*"]
	read = group user/Aurelien Pupier (apupier)
	create = group user/Aurelien Pupier (apupier)
	push = +force group user/Aurelien Pupier (apupier)
	pushMerge = group user/Aurelien Pupier (apupier)
[access "refs/tags/*"]
	push = +force group user/Aurelien Pupier (apupier)
	pushTag = group user/Aurelien Pupier (apupier)
	pushSignedTag = group user/Aurelien Pupier (apupier)
